.custom-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
}

.header-button {
  cursor: pointer;
}

.header-title {
  flex-grow: 1;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
}
